:root {
  --wwwjobkoreacokralizarin-crimson: rgba(232, 39, 45, 1);
  --wwwjobkoreacokrdusty-gray: rgba(153, 153, 153, 1);
  --wwwjobkoreacokrgallery: rgba(236, 236, 236, 1);
  --wwwjobkoreacokrmystic: rgba(219, 224, 233, 1);
  --wwwjobkoreacokrperiwinkle-gray: rgba(220, 226, 240, 1);
  --wwwjobkoreacokrred-orange: rgba(255, 51, 51, 1);
  --wwwjobkoreacokrvenetian-red: rgba(113, 0, 14, 1);
  --www-jobkorea-co-kr-semantic-button-font-family: "Roboto", Helvetica;
  --www-jobkorea-co-kr-semantic-button-font-weight: 400;
  --www-jobkorea-co-kr-semantic-button-font-size: 15px;
  --www-jobkorea-co-kr-semantic-button-letter-spacing: 0px;
  --www-jobkorea-co-kr-semantic-button-line-height: 22.5px;
  --www-jobkorea-co-kr-semantic-button-font-style: normal;
  --www-jobkorea-co-kr-semantic-heading-2-font-family: "Roboto", Helvetica;
  --www-jobkorea-co-kr-semantic-heading-2-font-weight: 700;
  --www-jobkorea-co-kr-semantic-heading-2-font-size: 18.59375px;
  --www-jobkorea-co-kr-semantic-heading-2-letter-spacing: -0.5px;
  --www-jobkorea-co-kr-semantic-heading-2-line-height: 30px;
  --www-jobkorea-co-kr-semantic-heading-2-font-style: normal;
  --www-jobkorea-co-kr-semantic-input-font-family: "Roboto", Helvetica;
  --www-jobkorea-co-kr-semantic-input-font-weight: 400;
  --www-jobkorea-co-kr-semantic-input-font-size: 15.875px;
  --www-jobkorea-co-kr-semantic-input-letter-spacing: 0px;
  --www-jobkorea-co-kr-semantic-input-line-height: normal;
  --www-jobkorea-co-kr-semantic-input-font-style: normal;
  --www-jobkorea-co-kr-semantic-label-font-family: "Roboto", Helvetica;
  --www-jobkorea-co-kr-semantic-label-font-weight: 400;
  --www-jobkorea-co-kr-semantic-label-font-size: 13.234375px;
  --www-jobkorea-co-kr-semantic-label-letter-spacing: 0px;
  --www-jobkorea-co-kr-semantic-label-line-height: 21px;
  --www-jobkorea-co-kr-semantic-label-font-style: normal;
  --www-jobkorea-co-kr-semantic-link-font-family: "Roboto", Helvetica;
  --www-jobkorea-co-kr-semantic-link-font-weight: 400;
  --www-jobkorea-co-kr-semantic-link-font-size: 11.25px;
  --www-jobkorea-co-kr-semantic-link-letter-spacing: 0px;
  --www-jobkorea-co-kr-semantic-link-line-height: 34px;
  --www-jobkorea-co-kr-semantic-link-font-style: normal;
  --www-jobkorea-co-kr-semantic-strong-font-family: "Roboto", Helvetica;
  --www-jobkorea-co-kr-semantic-strong-font-weight: 400;
  --www-jobkorea-co-kr-semantic-strong-font-size: 15.125px;
  --www-jobkorea-co-kr-semantic-strong-letter-spacing: 0px;
  --www-jobkorea-co-kr-semantic-strong-line-height: 24px;
  --www-jobkorea-co-kr-semantic-strong-font-style: normal;
  --www-jobkorea-co-kr-semantic-textarea-font-family: "Roboto", Helvetica;
  --www-jobkorea-co-kr-semantic-textarea-font-weight: 400;
  --www-jobkorea-co-kr-semantic-textarea-font-size: 15px;
  --www-jobkorea-co-kr-semantic-textarea-letter-spacing: 0px;
  --www-jobkorea-co-kr-semantic-textarea-line-height: 24px;
  --www-jobkorea-co-kr-semantic-textarea-font-style: normal;
  --www-jobkorea-co-kr-roboto-regular-10-66-font-family: "Roboto", Helvetica;
  --www-jobkorea-co-kr-roboto-regular-10-66-font-weight: 400;
  --www-jobkorea-co-kr-roboto-regular-10-66-font-size: 10.65625px;
  --www-jobkorea-co-kr-roboto-regular-10-66-letter-spacing: 0px;
  --www-jobkorea-co-kr-roboto-regular-10-66-line-height: 16.5px;
  --www-jobkorea-co-kr-roboto-regular-10-66-font-style: normal;
  --www-jobkorea-co-kr-roboto-regular-10-83-font-family: "Roboto", Helvetica;
  --www-jobkorea-co-kr-roboto-regular-10-83-font-weight: 400;
  --www-jobkorea-co-kr-roboto-regular-10-83-font-size: 10.828125px;
  --www-jobkorea-co-kr-roboto-regular-10-83-letter-spacing: 0px;
  --www-jobkorea-co-kr-roboto-regular-10-83-line-height: 16.5px;
  --www-jobkorea-co-kr-roboto-regular-10-83-font-style: normal;
  --www-jobkorea-co-kr-roboto-regular-11-25-font-family: "Roboto", Helvetica;
  --www-jobkorea-co-kr-roboto-regular-11-25-font-weight: 400;
  --www-jobkorea-co-kr-roboto-regular-11-25-font-size: 11.25px;
  --www-jobkorea-co-kr-roboto-regular-11-25-letter-spacing: 0px;
  --www-jobkorea-co-kr-roboto-regular-11-25-line-height: 16px;
  --www-jobkorea-co-kr-roboto-regular-11-25-font-style: normal;
  --www-jobkorea-co-kr-roboto-regular-12-19-font-family: "Roboto", Helvetica;
  --www-jobkorea-co-kr-roboto-regular-12-19-font-weight: 400;
  --www-jobkorea-co-kr-roboto-regular-12-19-font-size: 12.1875px;
  --www-jobkorea-co-kr-roboto-regular-12-19-letter-spacing: 0px;
  --www-jobkorea-co-kr-roboto-regular-12-19-line-height: 38px;
  --www-jobkorea-co-kr-roboto-regular-12-19-font-style: normal;
  --www-jobkorea-co-kr-roboto-regular-13-13-font-family: "Roboto", Helvetica;
  --www-jobkorea-co-kr-roboto-regular-13-13-font-weight: 400;
  --www-jobkorea-co-kr-roboto-regular-13-13-font-size: 13.125px;
  --www-jobkorea-co-kr-roboto-regular-13-13-letter-spacing: 0px;
  --www-jobkorea-co-kr-roboto-regular-13-13-line-height: 21px;
  --www-jobkorea-co-kr-roboto-regular-13-13-font-style: normal;
  --www-jobkorea-co-kr-roboto-regular-10-31-font-family: "Roboto", Helvetica;
  --www-jobkorea-co-kr-roboto-regular-10-31-font-weight: 400;
  --www-jobkorea-co-kr-roboto-regular-10-31-font-size: 10.3125px;
  --www-jobkorea-co-kr-roboto-regular-10-31-letter-spacing: 0px;
  --www-jobkorea-co-kr-roboto-regular-10-31-line-height: 16.5px;
  --www-jobkorea-co-kr-roboto-regular-10-31-font-style: normal;
  --www-jobkorea-co-kr-roboto-regular-16-font-family: "Roboto", Helvetica;
  --www-jobkorea-co-kr-roboto-regular-16-font-weight: 400;
  --www-jobkorea-co-kr-roboto-regular-16-font-size: 16px;
  --www-jobkorea-co-kr-roboto-regular-16-letter-spacing: 0px;
  --www-jobkorea-co-kr-roboto-regular-16-line-height: 24px;
  --www-jobkorea-co-kr-roboto-regular-16-font-style: normal;
  --www-jobkorea-co-kr-roboto-bold-16-88-font-family: "Roboto", Helvetica;
  --www-jobkorea-co-kr-roboto-bold-16-88-font-weight: 700;
  --www-jobkorea-co-kr-roboto-bold-16-88-font-size: 16.875px;
  --www-jobkorea-co-kr-roboto-bold-16-88-letter-spacing: 0px;
  --www-jobkorea-co-kr-roboto-bold-16-88-line-height: 27px;
  --www-jobkorea-co-kr-roboto-bold-16-88-font-style: normal;
  
}
